.main {
    display: flex;
    min-height: 100vh;

    .sidebar {
        flex: 0 0 240px;
        background-color: lightblue;
        padding: 10px;
    }

    .content {
        flex: 1;
        padding: 40px;
    }
}